@import "../vendors/bootstrap/bootstrap.css";
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f8f8ff;
  margin: 0;
}
article {
  padding: 2%;
}
a {
  color: #00b7ff;
}
td {
  padding: 5px;
}
.persona {
  margin-bottom: 3%;
}
