@import "../vendors/bootstrap/bootstrap.css"

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background ghostwhite
  margin 0

article
  padding: 2%
a
  color: #00B7FF

td
  padding 5px

.persona
  margin-bottom 3%

.form-control
  margin 4px
  width 15%
  display inline-block