button.btn.btn-default(type='button', data-action='openModal') Modal

| Backbone BBDD form
.persona
  input(id="name", placeholder="Name")
  input(id="surname", placeholder="Surname")
  input(id="age", placeholder="age")

  button.btn.btn-default(type='button', data-action='new') Back

| rutas BB
table#bbdd

button.btn.btn-default(type='button', data-action='home') Back