button.btn.btn-default(type='button', data-action='openModal') Modal

p Backbone BBDD form
.persona
  input.form-control(id="name", placeholder="Name")
  input.form-control(id="surname", placeholder="Surname")
  input.form-control(id="age", placeholder="age")

  button.btn.btn-default(type='button', data-action='new') New

p rutas BB
table#bbdd

button.btn.btn-default(type='button', data-action='home') Back